:root
{
    --primary-color: aqua;
    --secondary-color: #024e76;
    --tertiary-color: lightgrey;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

 /*header*/
header
{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}

header h1
{
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    width: 100%;
    text-align: center;
}

header a
{
    text-decoration: none;
    color: var(--primary-color);
}

header nav
{
    margin: 7px;
    width: 100%;
    height: 100%;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a 
{
    padding: 5px;
    font-weight: lighter;
    font-size: 15px;
}

header nav ul li a:hover
{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
/*end Header*/

/*Hero*/
.hero
{
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.hero p
{
    margin: auto;
    width: 40%;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 5px 5px 0 5px;
}
/*end Hero*/

/*About*/
.about-me
{
    background-color: var(--tertiary-color);
    padding: 10px;
    color: var(--secondary-color);
}

.about-me h2
{
    font-size: 28px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid;
}

.about-me p
{
    text-align: center;
    padding-top: 5px;
}
/*End About*/

/*Tablet size or bigger*/
@media screen and (min-width:768px) 
{
    header nav ul li a 
    {
        font-size: 20px;
    }

    .hero img
    {
        justify-content: flex-start;
        max-width: 30%;
    }

    .hero p 
    {
        justify-content: flex-end;
        margin-right: 0;
        width: 30%;
        font-size: 25px;
    }

    .about-me
    {
        display: flex;
        justify-content:flex-end;
    }
    .about-me h2
    {
        width: 15%;
        border-bottom: 0px;
        border-right: 3px solid;
        justify-content: right;
        text-align: right;
        padding-right: 5px;
        margin-right: 20px;
    }
    .about-me p
    {
        display: flex;
        width: 80%;
    }
}

/*Desktop size or bigger*/
@media screen and (min-width:1024px) 
{
    header
    {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 10px;
    }

    header h1
    {
        width: 30%;
        font-size: 45px;
        text-align: left;
    }

    header nav
    {
        width: 60%;
    }

    header nav ul li
    {
        display: flex;
        align-items: center;
    }
    
    header nav ul li a 
    {
        font-size: 25px;
    }

    .hero p 
    {
        font-size: 30px;
        width: 25%;
    }

    .about-me h2
    {
        font-size: 45px;
        width: 15%;
    }

    .about-me p
    {
        font-size: 25px;
    }
}